
p {font-family: Verdana;
font-size: 9pt;
margin-left: 0cm;}


ol{font-family: Verdana;
font-size: 9pt;}

body {
font-family: Verdana;
font-size: 11pt;
margin-right: 2cm;
}


.tabela1 {font-family: Verdana;
font-size: 11pt;

}


.tytakt {font-family: Verdana;
font-size: 12pt;
font-weight: bold;}



.stopka {font-family: Verdana;
font-size: 10pt;
color: #ffffff;
margin:20px auto;
padding:0 10px;}


.naglowek{font-family: Verdana;
font-size: 9pt;
color: #883b03;
}


ul{font-family: Verdana;
font-size: 9pt;}

stopka {font-family: Verdana;
font-size: 7pt;}.tabela2 {font-family: Verdana;
font-size: 11pt;

color: #ffffff;}
